* {
    box-sizing: border-box;
    font-family: 'Karla','Merriweather Sans', 'Sans Serif';
}

:root {
    --cor-red1: #D90000;
    --cor-red2: #B92020;
    --cor-red3: #870C0C;
    --cor-red4: #430808;
    --cor-red5: #290505;

    --cor-cr1: #F7EBEB;
    --cor-cr2: #E5D5D5;
    --cor-cr3: #D7C2C2;
    --cor-cr4: #B48C8C;
    --cor-cr5: #272020;

    --cor-y1: #FFDF35;
    --cor-y2: #FFD135;
    --cor-y3: #F4BC33;
    --cor-y4: #C19428;
    --cor-y5: #886412;

    --cor-cy1: #FFFDF3;
    --cor-cy2: #FAF6E8;
    --cor-cy3: #EDE7D1;
    --cor-cy4: #EFE2BE;
    --cor-cy5: #2F2100;

    --cor-grad1: linear-gradient(to bottom, #FFD600, #E48900)
}

.bg-red4 {
    background-color: var(--cor-red4);
}

.navheight {
    min-height: 55px;
    position: relative;
}
#navbarNav {
    justify-content: flex-end;
}

/* ######### Animação Links Menu ######### */
.nav-link.bg-transition {
    position: relative;
    color: var(--cor-cy1);
    transition: color .25s ease-out;
}

.nav-link.bg-transition::before {
    background-color: var(--cor-cy1);
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .18s ease-out;
}

.nav-link.bg-transition:hover {
    color: var(--cor-red4);

}

.nav-link.bg-transition:hover::before {
    width: 100%;
    transition: all .3s ease-out;
}
/* ######### Fim Animação Links Menu ######### */
.navbar-icon {
    background-image: url("../imgs/menu.png");
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nav-item {
    width: 100%;
    min-width: fit-content;
}

button.navbar-toggler {
    background-color: var(--cor-red5);
}

section.s-sobre, section.s-equipe,.s-diferencial, .s-contato   {   
    padding-top: 5%;
    margin-top: 5%;
}

div.containerdocard {
    height: 380px;
    width: 320px;
    border-radius: 18px;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
}
div.card-topside {
    position: relative;
    background-color: var(--cor-cr2);
    height: 30%;
    width: 100%;
}

div.card-botside {
    background-color: var(--cor-cr1);
    height: 70%;
    width: 100%;
}
div.card-botside .card-textos {
    padding: 25% 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-zap {
    text-decoration: none;
    margin-top: 15px;
    padding: 6px 12px;
    background-image: var(--cor-grad1);
    border: 0;
    border-radius: 4px;
}

div.card-diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 280px;
    padding: 20px;
    margin: 10px auto;
    background-color: rgba(255, 254, 254, 0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
}

@media screen and (max-width: 680px) {
    div.containerdocard {
        height: 340px;
    }
}

/*######### Fim index.html ########## */

/*######### Start estude.html ########## */

div.segmentos {
    padding: 0;
}

.segmentos article {
    height: 100%;
    width: 100%;
}
div .segmentos:nth-of-type(2) article {
    background-color: #EFCDE499
}
div .segmentos:nth-of-type(3) article {
    background-color: #FFE73399
}
div .segmentos:last-of-type article {
    background-color: #9CDBFF99
}

article.texto-segmentos {
    text-align: left;
}