/* ########################################## */
/* TEXTO SOBRE IMAGEM BANNER BEM VINDO */

.texto_banner {
    color: var(--cor-cy1);
    font-size: 4.5em;
    font-family: 'Karla', 'Sans Serif';
    font-weight: 600;
    text-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

/* ########################################## */
.justify {
    text-align: justify;
}
.nav-item {
    text-align: end;
    font-size: 1.2em;
}
h2.karla-display {
    margin: 5% 0;
    text-align: center;
    font-family: 'Karla', 'Sans Serif';
    font-size: 4.4rem;
    font-weight: 600;
    color: var(--cor-y3)
}
.sobre-texto p {
    font-size: 1.2rem;
    text-align: left;
}

p.card-nome {
    white-space: nowrap;
    font-size: 2em;
    color: var(--cor-red4);
    font-family: 'Merriweather Sans';
    font-weight: 600;
    margin-bottom: 0;
}

p.card-subnome {
    font-size: 1em;
    color: var(--cor-cr4);
    font-family: 'Karla';
    transform: translateY(-35%);

}

p.card-descricao {
    text-align: justify;
    font-size: 1.1em;
    color: var(--cor-cr5);
    font-family: 'Karla';
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
}

.s-diferencial .titulo-diferencial {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 2em;
    color: var(--cor-red2);
}
.s-diferencial .texto-diferencial {
    font-family: 'Merriweather Sans';
    font-size: 0.9em;
    font-weight: 300;

}
.s-contato {
    color: var(--cor-y2);
    font-family: 'Merriweather Sans'
}
.s-contato h4 {
    font-size: 1em;
    color: var(--cor-cr1)
}
div.col-CISB p, div.col-Horario p  {
    color: var(--cor-cr1);
    font-family: 'Karla';
    font-weight: 200;
    font-size: 1em;
    margin: 0;
 }

 #btn-zap {
    font-size: 0.8em;
    color: var(--cor-cy5);
    font-family: 'Merriweather Sans';
}

/*######### Fim index.html ########## */

/*######### Start estude.html ########## */

article.texto-segmentos h3 {
    padding: 10% 0 0 10%;
    font-family: 'Merriweather Sans';
    font-weight: 700;
    font-size: 2em ;
}
article.texto-segmentos h4 {
    padding: 10% 0 0 10%;
    font-family: 'Merriweather Sans';
    font-weight: 600;
    font-size: 1em ;
}
article.texto-segmentos p {
    padding: 0 10% 5% 10%;
    font-family: 'Karla';
    font-weight: 400;
    font-size: .9em ;
    text-align: justify;
}
#babyclass {
    color: #330022;
}
#babyclass p {
    color: #1F0014;
} 

#fundamentalclass {
    color: #002033;
}
#fundamentalclass p {
    color: #00141F;
} 

#infantilclass {
    color: var(--cor-cy5);
} 
.lista-estrutura li {
    font-family: 'Merriweather Sans', 'Sans Serif';
    text-align: left;
    color: var(--cor-red5);
}
div.texto-como-chegar {
    text-align: left;
}
div.texto-como-chegar h4 {
    color: var(--cor-red5);
    font-family: 'Merriweather Sans', 'Sans Serif';
    font-weight: 400;
}
div.texto-como-chegar p {
    color: var(--cor-cr5);
    font-family: 'Merriweather Sans', 'Sans Serif';
    font-weight: 300;
    margin: 0;
}

#btn-como-chegar{
    color: black;
    font-size: 0.8rem;
    font-family: 'Merriweather Sans', 'Sans Serif';
    text-align: left;
    white-space: nowrap;
}
.bloco {
    font-size: 1.2rem;
    font-family: 'Merriweather Sans', 'Sans Serif';
    color: var(--cor-red6);
}

@media screen and (max-width: 680px) {
    :root {
        font-size: 12px;
    }
    p.card-descricao {
        font-size: 1.4rem;
    }
    .card-textos {
        font-size: 12px;
    }
}